<div class="container-fluid">
<h1><%= @album.name %>  <small>(<%= link_to '管理', album_admin_path(@album) %>)</small></h1>

<div class="all-images">
  <% @images.each do |image| %>
  <div class="p-box">
    <% image_info = get_image_info(image) %>
    <% width = (130*image_info["width"]/image_info["height"]) %>
    <div class="image">
      <%= link_to image do %>
      <%= image_tag get_image_url(image, :thumbnail => 'x130>', :quality => 80), size: "#{width}x130" %>
      <% end %>
    </div>
    <div><%= image.file_file_name %></div>
  </div>
  <% end %>
</div>
</div>
